body {
  background: linear-gradient(to right, DarkRed, pink, black);
}

form {
font-family: "Montserrat", sans-serif;
font-size: 40px;
letter-spacing: 8px;
line-height: 60px;
padding-left: 30%;
padding-top: 25px;
}

#Plus {
color: black;
background-color: transparent;
border: 2px dotted black;
border-radius: 100%;
font-size: 20px;
transition-duration: 0.4s;
padding:30px;
left: 47%;
position: absolute;
margin-top: 80px;
}

#sub {
border-radius: 6px;
background-color: black;
color: white;
text-align: center;
font-size: 20px;
padding: 20px;
width: 300px;
margin-left: 39%;
margin-top: 200px;
position:scroll;
}

input[type=text] {
  width: 180px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px black solid;
  font-family: "Montserrat", sans-serif;
  line-height: 10px;
}
